    <li>
     <span class="user-name">
      <%= note.user.name %>
      </span>
      <p>タイトル</p>
      <span class="content">
        <%= link_to note.title, note_path(note.id) %>

      </span>
    </li>
